<h1 class="title">{{site.about_me_title}}</h1>
<img src="https://scontent.fdad1-3.fna.fbcdn.net/v/t39.30808-6/301585188_1446604412481299_8068458722470914202_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=X_Q60cqJ57gAX_cTZTL&_nc_ht=scontent.fdad1-3.fna&oh=00_AT_wBMmFsa62oH3SgELBzfrYC7A3yY2pbd1A-EhNFSDV6g&oe=631264D1" alt="Avatar" style="display:inline-block; width:200px;border-radius: 50%;border: 5px solid #38761d;">
<div style="float:right;">
  <p class="description" data-aos="fade-down">
  👋 Hi, my name is Kim Phu.
  </p>
  <p class="description" data-aos="fade-down">
    👨‍💻 I'm a Information Assurance Student (3rd) at FPT University.
  </p>
  <p class="description" data-aos="fade-down">
    💻 I like playing ctf and pentesting. Then I write-up them in <a class="highlight-link"
      href="https://github.com/w4rf0t" target="_blank" rel="noreferrer"> Github </a>.
  </p>
  <p class="description" data-aos="fade-down">
    📈 I am passionate about investing and I'm planning to share my experiences on a blog later on.
  </p>
</div>
