<h1 id="middle" class="title">{{site.about_me_title}}</h1>

<p class="description" data-aos="fade-down">
  👋 Hi, my name is Kim Phu.
</p>
<p class="description" data-aos="fade-down">
  👨‍💻 I'm a Information Assurance Student (3rd) at FPT University.
</p>
<p class="description" data-aos="fade-down">
  💻 I like playing ctf and pentesting. Then I write-up them in <a class="highlight-link"
    href="https://github.com/w4rf0t" target="_blank" rel="noreferrer"> Github </a>.
</p>
<p class="description" data-aos="fade-down">
  📈 I am passionate about investing and I'm planning to share my experiences on a blog later on.
</p>
